:root {
    --trans-light: rgba(255, 255, 255, 1);
    --trans-dark: rgba(25, 25, 25, 0.75);
    --border-style: 1.2px solid rbg(169, 169, 169);
    --backdrop-filter: blur(15px) saturate(150%);
}

/* 一图流设置 */
/* 页脚与页头透明 */
/* #footer {
    background: transparent !important
} */
/* #page-header {
    background: transparent !important;
} */

/* 白天模式遮罩透明 */
/* #footer::before {
    background: transparent !important;
} */
/* #page-header::before {
    background: transparent !important;
} */

/* 夜间模式遮罩透明 */
/* [data-theme="dark"] #footer::before {
    background: transparent !important;
} */
/* [data-theme="dark"] #page-header::before {
    background: transparent !important;
} */




/* 翻页按钮居中 */
#pagination {
    width: 100%;
    margin: auto;
}

/* 鼠标样式 */
body {
    cursor: url(https://bu.dusays.com/2022/05/17/6283c365d20dd.png), auto;
}

.hide-block>.hide-button.open,
.hide-inline>.hide-button.open {
    display: block
}

a,
button,
img {
    cursor: url(https://bu.dusays.com/2022/05/17/6283c376afcfc.png), auto
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

::-webkit-scrollbar-track {
    border-radius: 2em;
    /* background-color: rgba(73, 177, 245, .2); */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255 255 255 / .3);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
    border-radius: 2em
}

::-webkit-scrollbar-corner {
    background-color: transparent
}

/* 鼠标在有序标签上会旋转 */
#article-container ol li:hover:before
{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 30px;
    border: var(--border-style);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border: var(--border-style);
    border-radius: 30px;
}

/* 文章页、归档页、普通页面*/
div#post,
div#page,
div#archive {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border: var(--border-style);
    border-radius: 30px;
}

/* 导航栏 */
#page-header.nav-fixed #nav {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: var(--backdrop-filter);
    
}

[data-theme="dark"] #page-header.nav-fixed #nav {
    background: rbga(0, 0, 0, 0.7) !important;
}

/* 夜间模式遮罩 */
[data-theme="dark"] #recent-posts > .recent-post-item,
[data-theme="dark"] #aside-content .card-widget,
[data-theme="dark"] div#post,
[data-theme="dark"] div#archive,
[data-theme="dark"] div#page {
    background: var(--trans-dark);
}

/*夜间模式页脚页头遮罩透明*/
[data-theme="dark"] #footer::before {
    background: transparent !important;
}
[data-theme="dark"] #page-header::before {
    background: transparent !important;
}


/* 阅读模式 */
.read-mode #aside-content .card-widget {
    background: rgba(158, 204, 171, 0.5) !important;
}
.read-mode div#post {
    background: rgba(158, 204, 171, 0.5) !important;
}

/* 夜间模式下的阅读模式 */
[data-theme="dark"] .read-mode #aside-content .card-widget {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
}
[data-theme="dark"] .read-mode div#post {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
}






.categoryBar-list {
    max-height: 400px;
}

.clock-row {
    overflow: hidden;
    text-overflow: ellipsis;
}

/*3s为加载动画的时间，1为加载动画的次数，ease-in-out为动画效果*/

#page-header,
#web_bg {
    -webkit-animation: imgblur 2s 1 ease-in-out;
    animation: imgblur 2s 1 ease-in-out;
}

@keyframes imgblur {
    0% {
        filter: blur(5px);
    }
    100% {
        filter: blur(0px);
    }
}

/*适配使用-webkit内核的浏览器 */

@-webkit-keyframes imgblur {
    0% {
        -webkit-filter: blur(5px);
    }
    100% {
        -webkit-filter: blur(0px);
    }
}
.table-wrap img {
    margin: .6rem auto .1rem !important;
}

/* 标签外挂 网站卡片 start */

.site-card-group img {
    margin: 0 auto .1rem !important;
}

.site-card-group .info a img {
    margin-right: 10px !important;
}

[data-theme='dark'] .site-card-group .site-card .info .title {
    color: #f0f0f0 !important;
}

[data-theme='dark'] .site-card-group .site-card .info .desc {
    color: rgba(255, 255, 255, .7) !important;
}

.site-card-group .info .desc {
    margin-top: 4px !important;
}
/* 代码块颜色 */

figure.highlight pre .addition {
    color: #00bf03 !important;
}




#body-wrap #footer {
    --tw-bg-opacity: 1;
    background-color: rgb(229 229 229/var(--tw-bg-opacity));
}

#body-wrap #footer #footer-wrap {
    font-weight: 700;
    color: black;
}

/* #content-inner {
    background-color: #eaedf2;
} */

/* .bg-hexo-light-gray {
    --tw-bg-opacity: 1;
    background-color: rgb(229 229 229/var(--tw-bg-opacity));
} */

/* 左上角网站标题：字体、大小、颜色设置 */
#body-wrap #page-header #nav #blog-info a span {
    font-family: sans-serif; 
    font-size: 30px;
    color: #e3a9a9;
}

/* 导航栏字体、大小、颜色设置 */
#body-wrap #page-header #nav #menus .site-page {
    font-family: sans-serif;
    font-size: 23px;
    color: #e3a9a9;
}

/* 中间网站标题：字体、大小、颜色设置 */
#body-wrap #page-header #site-info #site-title {
    font-family: sans-serif; 
    font-size: 50px;
    color: #e3a9a9;
}

/* 子标题：字体、大小、颜色设置 */
#body-wrap #page-header #site-info #site-subtitle {
    font-family: sans-serif; 
    font-size: 30px;
    color: #e3a9a9;
}



